<h2>My Goals (You can do it!)</h2>
<ul>
	<% @user.goals.each do |goal| %>
	<% next if goal.is_private && current_user.id != goal.user_id  %>
		<li>
			<%= link_to goal.name, edit_goal_url(goal) %>

			<%= button_to done_or_notdone(goal), done_goal_url(goal), method: :put %>
			<%= "<s>".html_safe if goal.complete %>|

			<%= "</s>".html_safe if goal.complete %>|

			<%= button_to("Remove", goal_url(goal), :method => :delete ) %>
			<%= button_to private_or_public(goal), toggle_goal_url(goal), :method => :put %>

		</li>
	<% end %>
</ul>


<% if current_user && current_user.id == params[:id].to_i %>

<form action="<%= goals_url %>" method="post" accept-charset="utf-8">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">

	<input type="text" name="goal[name]" value="" id="goal_name">

	<input type="submit" value="Add Goal">
</form>
<% end %>
